header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #445162;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  color: white;
}

.product ul {
  list-style-image: url(img/check_icon.png);
}

.product h1 {
  font-size: 35px;
  font-family: Arial;
}

.logo {
  width: 469px;
  height: 214px;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  background-color: #ffffff;
}

main .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main h2 {
  font-size: 25px;
  font-family: Arial;
}

.about_text {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.about_pic {
  width: 430px;
  height: 245px;
  margin-top: 50px;
  margin-right: 50px;
  background-color: #445162;
}

.dignity h3 {
  font-size: 25px;
  font-family: Arial;
}

.dignity_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dignity_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 17px;
}

.dignity_item li {
  width: 549px;
  height: 107px;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  font-family: Arial;
  background: url(img/plus_icon.png) no-repeat 0px 5px;
  padding: 0px 0px 0px 40px;
  list-style: none;
  margin: 0;
}

.scr_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  font-family: Arial;
}

.dflexcolumn, .scr_main, .reviews, .bins, .binp, .binl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.scr_main h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.screenshots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left_scr {
  list-style-type: none;
}

.right_scr {
  list-style-type: none;
}

figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  padding: 5px;
}

.reviews h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  font-family: Arial;
}

.reviews_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left_review {
  list-style-type: none;
}

.right_review {
  list-style-type: none;
}

.buyitnow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bin_caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Arial;
}

.bin_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
}

.bins {
  border: 2px solid;
  background-color: #445162;
  border-radius: 7px;
}

.bins ol {
  color: white;
  font-size: 17px;
  padding: 30px;
}

.bins_capt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.binsd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 55px;
  background-color: white;
  color: #445162;
}

.bins_butt {
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.bins_butt button:hover {
  background: none;
  color: #ffffff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.bins_butt button:hover:active {
  position: relative;
  top: 1px;
}

.binp {
  border: 2px solid;
  background-color: #445162;
  border-radius: 7px;
}

.binp ol {
  color: white;
  font-size: 17px;
  padding: 30px;
}

.binp_capt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.binpd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 55px;
  background-color: white;
  color: #445162;
}

.binp_butt {
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.binp_butt button:hover {
  background: none;
  color: #ffffff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.binp_butt button:hover:active {
  position: relative;
  top: 1px;
}

.binl {
  border: 2px solid;
  background-color: #445162;
  border-radius: 7px;
}

.binl ol {
  color: white;
  font-size: 17px;
  padding: 30px;
}

.binl_capt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.binld {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 55px;
  background-color: white;
  color: #445162;
}

.binl_butt {
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.binl_butt button:hover {
  background: none;
  color: #ffffff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.binl_butt button:hover:active {
  position: relative;
  top: 1px;
}

.footer_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  font-size: 25px;
  font-family: Arial;
  padding: 50px;
  background-color: #445162;
  color: white;
}

.footer_block form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_block form button {
  margin: 20px;
}

.footer_block form button:hover {
  background: none;
  color: #ffffff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.footer_block form input {
  margin: 20px;
  border-radius: 7px;
  height: 25px;
}

.footer_block form textarea {
  margin: 20px;
  border-radius: 7px;
}

.footer_block .social {
  width: 240px;
  color: #fff;
  margin-top: 0px;
}

.footer_block ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.footer_block ul li {
  margin-bottom: 18px;
}

.footer_block .skype {
  background: url("../img/skype_icon.png") no-repeat left center;
  line-height: 26px;
  padding-left: 29px;
}

.footer_block .icq {
  background: url("../img/icq_icon.png") no-repeat left center;
  line-height: 26px;
  padding-left: 30px;
}

.footer_block .email {
  background: url("../img/email_icon.png") no-repeat left center;
  line-height: 22px;
  padding-left: 30px;
}

.footer_block .phone {
  background: url("../img/phone_icon.png") no-repeat left center;
  line-height: 23px;
  padding-left: 30px;
  margin-bottom: 0;
}

.footer_block .follow_us ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin-top: 37px;
}

.footer_block .follow_us ul li {
  width: 42px;
  height: 42px;
  border-radius: 42px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.footer_block .follow_us ul li:hover {
  background-color: #46DBFF;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.footer_block .follow_us ul .tw {
  background-image: url("../img/social_buttons.png");
  background-position-x: -1px;
}

.footer_block .follow_us ul .fb {
  background-image: url("../img/social_buttons.png");
  background-position-x: -50px;
}

.footer_block .follow_us ul .in {
  background-image: url("../img/social_buttons.png");
  background-position-x: -99px;
}

.footer_block .follow_us ul .google {
  background-image: url("../img/social_buttons.png");
  background-position-x: -149px;
}

.footer_block .follow_us ul .you {
  background-image: url("../img/social_buttons.png");
  background-position-x: -198px;
}
/*# sourceMappingURL=style.css.map */